@model Pokedex.Models.Pokemon

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pokemon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Move1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Move1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Move2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Move2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Move3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Move3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Move4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Move4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegionNavigation.NombreR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo1Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo1Navigation.NombreT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo2Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo2Navigation.NombreT)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PokeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
